@import '../../../App.scss';

.contact {
  padding: 15rem 0;
  background-image: linear-gradient(to right, $primary-light, $primary-dark);
}

.book {
  background-image: linear-gradient(105deg, rgba($white, 0.8) 0%, rgba($white, 0.8) 50%, transparent 50%), url(../../../img/people/IMG_2114.JPG);
  background-size: cover;
  background-position: center;
  border-radius: $border-radius;
  box-shadow: $shadow;

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
