@import '../../App.scss';

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  outline: none;
  border-radius: 10rem;
  border: 0;
  cursor: pointer;
  transition: all 0.15s;
  font-size: $default-font-size;
  position: relative;

  // the hover and active combined make the button look like it is physically pushed
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}

.btn--white {
  background-color: $white;
  color: $grey;
}

.btn--green {
  background-color: $oasis-green;
  color: $white;
}

.btn--green::after {
  background-color: $oasis-green;
}

.btn--white::after {
  background-color: $white;
}

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}
