@import '../../../App.scss';

.options {
  background-color: $light-grey-1;
  padding: 25rem 0 25rem 0;
  margin-top: -15rem;
  position: relative;
  clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 100%);
}

.card-front {
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(to right bottom, $alpha-red, $alpha-red-dark), url(./alpha-promo-sm.jpg);
      background-position: left top;
    }

    &--2 {
      background-image: linear-gradient(to right bottom, $tertiary-light, $tertiary-dark), url(./school-sm.jpg);
      background-position: center center;
    }

    &--3 {
      background-image: linear-gradient(to right bottom, $yellow-light, $yellow-dark), url(./little-stars-sm.jpg);
      background-position: left top;
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $white;
    position: absolute;
    top: 14rem;
    right: 2rem;
    text-align: right;
    width: 60%;

    &-span {
      // padding: 1rem 1.5rem;
      padding: 0.63rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      &--1 {
        background-image: linear-gradient(to right bottom, rgba($alpha-red, 0.85), rgba($secondary-dark, 0.85));
      }

      &--2 {
        background-image: linear-gradient(to right bottom, rgba($tertiary-light, 0.85), rgba($tertiary-dark, 0.85));
      }

      &--3 {
        background-image: linear-gradient(to right bottom, rgba($yellow-light, 0.85), rgba($yellow-dark, 0.85));
      }
    }
  }

  &__details {
    padding: 3rem;
    color: $black;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $light-grey-2;
        }
      }
    }
  }
}
.card-back {
  color: $white;
  &--1 {
    background: linear-gradient(to right bottom, $alpha-red, $alpha-red-dark);
  }
  &--2 {
    background: linear-gradient(to right bottom, $tertiary-light, $tertiary-dark);
  }
  &--3 {
    background: linear-gradient(to right bottom, $yellow-light, $yellow-dark);
  }

  &__cta {
    @include align-center;
    width: 90%;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 6rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}
