@import '../../App';

.scrollTop {
  //border: 3px solid $oasisGreen;
  background-image: linear-gradient(to right bottom, $oasis-green, $oasis-blue);
  color: $white;
  border-radius: 100px;
  position: fixed;
  top: 89vh;
  right: 1rem;
  padding: 1rem;
  cursor: pointer;
}
