@import '../../../App.scss';

.section-about {
  background-color: $light-grey-1;
  padding: 25rem 0;
  margin-top: -15vh;

  .composition {
    // @include respond(tablet) {
    //   min-height: 35rem;
    // }

    // @include respond(phone) {
    //   min-height: 25rem;
    // }
  }
}

.btn-text {
  color: $oasis-green;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid $oasis-green;
  padding: 3px;
  font-size: $default-font-size;

  &:hover {
    background-color: $oasis-green;
    color: $white;
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
    transform: translateY(-2px);
    transition: all 0.2s;
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
    transform: translateY(0);
  }
}
