@import '../../../App.scss';

.stories-block {
  position: relative;
  padding: 25rem 0 20rem 0;
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
  background-color: #eeeeee;
  margin-top: -15rem;
}
