@import '../../../App.scss';

.header {
  height: 100vh; //vh = viewport height 0-100
  // height: 95vh; //vh = viewport height 0-100
  // background-image: linear-gradient(to right bottom, rgba($oasis-blue, 0.8), rgba($oasis-green, 0.7)), url('../../../img/hereford/Herefordshire-1.JPG');
  background-image: linear-gradient(
      to right bottom,
      rgba($oasis-blue, 0.8),
      rgba($oasis-green, 0.7)
    ),
    url('./header.jpg');
  background-size: cover;
  background-position: bottom;
  // polygon(top left, top right, bottom right, bottom left)
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  position: relative;

  @media (min-resolution: 192dpi) and (min-width: 637.5em), (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($oasis-blue, 0.8),
        rgba($oasis-green, 0.7)
      ),
      url('./Herefordshire-1.JPG');
  }

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);
  }
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  cursor: pointer;
  height: 3.5rem;
}

.header__text-box {
  @include align-center;
}

.heading-primary--main {
  animation: moveInLeft 1.5s ease-out;
}

.heading-primary--sub {
  animation: moveInRight 1.5s ease-out;
  display: block;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2.8rem;

  @include respond(phone) {
    letter-spacing: 2rem;
  }
}

.btn--animated {
  animation: moveInBottom 0.75s ease-out 0.75s;
  animation-fill-mode: backwards; //sets the animation to start at 0% instead of initial values
}
