@import '../../App.scss';

.header {
  height: 100vh; //vh = viewport height 0-100
  // height: 95vh; //vh = viewport height 0-100
  background-image: linear-gradient(to right bottom, rgba($oasisGreen, 0.8), rgba($oasisBlue, 0.7)), url('./hereford_hero_3.jpg');
  background-size: cover;
  background-position: top;
  // polygon(top left, top right, bottom right, bottom left)
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  cursor: pointer;
  height: 3.5rem;
}

.header__text-box {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

// .heading-primary {
//   backface-visibility: hidden; //apparently this fixes an animation shake
//   color: $white;
//   margin-bottom: 6rem;
//   text-transform: uppercase;
//   white-space: nowrap;
// }

.heading-primary--main {
  animation: moveInLeft 1.5s ease-out;
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3rem;
  // animation-name: moveInLeft;
  // animation-duration: 1s;
  // animation-timing-function: ease-out;
  // animation-delay: 3s;
  // animation-iteration-count: 3;
}

.heading-primary--sub {
  animation: moveInRight 1.5s ease-out;
  display: block;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2.8rem;
}

.btn--animated {
  animation: moveInBottom 0.75s ease-out 0.75s;
  animation-fill-mode: backwards; //sets the animation to start at 0% instead of initial values
}
