@import '../../App.scss';

.footer {
  background-color: $dark-grey;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $light-grey-1;

  @include respond(tablet) {
    padding: 8rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tablet) {
      margin-bottom: 6rem;
    }
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: 1px solid $grey;
    padding-top: 2rem;
    display: inline-block;
    width: 80%;

    @include respond(tablet) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $light-grey-1;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
      background-color: $dark-grey;
    }

    &:hover,
    &:active {
      color: $oasis-green;
      //   box-shadow: 0 1rem 2rem rgba($black, 0.4);
      transform: scale(1.05);
    }
  }

  &__copyright {
    border-top: 1px solid $grey;
    padding-top: 2rem;
    width: 80%;
    float: right;
    text-align: right;

    @include respond(tablet) {
      width: 100%;
      text-align: center;
      float: none;
    }
  }
}

// .popup__content {
//   padding: 0 5rem;
// }
// .popup__text {
//   overflow-y: scroll;
//   max-height: 60vh;
//   text-align: left;
//   columns: 2;
// }
