/* BEM - Block Element Modifier
*  Naming convention for CSS
*  .block
*  .block__element  Element that has no meaning on its own
*  .block__element--modifier  A different version of a block or an element eg btn--round btn--danger
*/

// sass allows users to nest css but this is bad practice and makes searching for elements tricky

// Apparently these replace the need for normalize-css so it isn't needed
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //font-size: 10px; // this is bad practice to set the font-size in px as it overrides browser accessibility
  font-size: 62.5%; //default browser font-size is 16px so 1rem = 10px/16px = 62.5%

  @include respond(tablet-landscape) {
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }
  @include respond(tablet) {
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16 = 75%
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $grey;
  box-sizing: border-box; //includes padding and border in total height/width
  padding: 3rem;

  @include respond(tablet) {
    padding: 0;
  }
}
