//Project Colors
$grey: #777777;
$light-grey-1: #f7f7f7;
$light-grey-2: #eeeeee;
$white: #ffffff;
$black: #000000;

$primary-light: #40b64a;
$primary-dark: #1e5222;

$secondary-light: #ffb900;
$secondary-dark: #ff7730;

$tertiary-light: #2998ff;
$tertiary-dark: #5643fa;

//Oasis colours
$oasis-blue: #1e70b8;
$oasis-green: #40b64a;

.background-primary {
  background: linear-gradient(to right bottom, $primary-light, $primary-dark);
}

.background-secondary {
  background: linear-gradient(to right bottom, $secondary-light, $secondary-dark);
}

.background-tertiary {
  background: linear-gradient(to right bottom, $tertiary-light, $tertiary-dark);
}
