//Project Colors
$grey: #777777;
$light-grey-1: #f7f7f7;
$white: #ffffff;
$darkBlue: #29659a;
$black: #000000;

$lightGreen: #7ed56f;
$mediumGreen: #55c57a;
$darkGreen: #28b485;

//Oasis colours
$oasisBlue: #1e70b8;
$oasis-blue: #1e70b8;
$oasisBlue2: #206fb7;
$oasisGreen: #40b64a;
$oasis-green: #40b64a;
